<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>工藤新一.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>68E55DCC1D1BF22200432521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68E55DE51D1BF22300432521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68E55DF01D1BF22300432521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
